body{
    background-color: antiquewhite;
    cursor: pointer;
    display: flex;
}
h1{
    display: flex;
    justify-content: center;
}
h1:hover{

    color: rgb(226, 43, 128);
    
}
h2{
    color: rgb(226, 43, 128);
    display: flex;
    justify-content: center;
}
li{
    display: flex;
    justify-content: center;
}
.figure{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    display: inline-flex;
}
.todo{
    background-color: aliceblue;
    border-radius: 20px;
    margin: 15%;
    border:solid 10px rgb(124, 64, 157)
}
