

body {
    font-family: Arial, sans-serif;
   /* background-color: #ede5d6;*/
   background-image: url('https://www.samtell.com/hs-fs/hubfs/Blogs/Four-Scrumptous-Tacos-Lined-up-with-ingredients-around-them-1.jpg?width=1800&name=Four-Scrumptous-Tacos-Lined-up-with-ingredients-around-them-1.jpg');
    

  
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f6f0f0;
  padding: 10px;
  border-radius: 0 0 0 10px;
}

.menu ul {
  list-style-type: none; /*me quita el punto*/
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #ddd;
}
h1:hover{
  color: red;
}
h1{
  text-align: center;
  color: white;

}

h2:hover{
  color: red;

}
h2{
  text-align: center;
  color: white;
}



  .table {
    display: flex;
    background-color: white;
    width: 100%; 
    margin: 40px auto;
   border-collapse: collapse; 
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;

  }
  .table caption:hover{
    color:rgb(214, 104, 205)
  }
  
  .table caption {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  p:hover{
    color:rgb(214, 104, 205)
  }
  
  .table th,.table td {
    text-align: center;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .table th {
    background-color:  #ddd;
    margin: 40px auto;
   
  }
  
  .photos img{
    width: 70%;
    height: 80%;
  }
  
  .photos img {
    margin: 2px auto;
    width: max-content;
    width: 100%;
  }

  
  
  
  .button {
    background-color: #dbe8db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
